<script>
    N = prompt("Please Enter The Value of N");
    function printSpaces(howMany) {
        for(i=1;i<=howMany;i++)
            document.write("&nbsp;");
    }
    function printStars(howMany) {
        for(i=1;i<=howMany;i++)
            document.write("*");
    }
    document.write("<pre>");
    for(line=1;line<=N-1;line++){
        printSpaces(N-line);
        printStars(line);
        document.write("<br>");
    }

    for(line=1;line<=N;line++){
        printSpaces(line-1);
        printStars(N-line+1);
        document.write("<br>");
    }

    document.write("</pre>");






    var i = 4;

    if (i == 5){

        // task 1

        // task n

    }
    else{


    }

    // for ,  while , do while


    for(i=1; i<= 5; i++){

        for(j=1; j<= 10; j++){

            document.write ("Hello World <br>");

        }


    }



    for( i=1, j=40  ;  i<j ; i++, j-- ){


         document.write ("Hello "+i+ " World " + j + "<br>");

    }







</script>
















